:root {
  --board-size: 90vh;
  --height: calc((var(--max-rows) - 1) * 0.75 + 1);
  --hex-h: calc(var(--board-size) / var(--height));
  --hex-w: calc(var(--hex-h) / 1.1547);
  --vert-spacing: calc(var(--hex-h) * 0.75);
}

body {
  position: relative;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
}

#settings {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  border-radius: 4px;
  margin: 8px;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  color: white;
}

.input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

#board {
  position: relative;
  margin: auto;
  height: 90vh;
  width: calc(var(--max-cols) * var(--hex-w));
}

.hex {
  container-type: size;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: var(--hex-h);
  aspect-ratio: 1 / 1.1547;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  left: calc((var(--row-offset) * var(--hex-w)) + (var(--col) * var(--hex-w)));
  top: calc(var(--row) * var(--vert-spacing));
  background-position: center;
  background-size: contain;
  transform: scale(1.016);
}

.hex.lumber {
  background-image: url('./tiles/lumber.png');
}

.hex.wool {
  background-image: url('./tiles/wool.png');
}

.hex.grain {
  background-image: url('./tiles/grain.png');
}

.hex.brick {
  background-image: url('./tiles/brick.png');
}

.hex.ore {
  background-image: url('./tiles/ore.png');
}

.hex.desert {
  background-image: url('./tiles/desert.png');
}

.hex.water {
  background-image: url('./tiles/water.png');
}

.token {
  font-size: 13cqh;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e3c586;
  border: 1px solid black;
  width: 40%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 1;
  position: relative;
  user-select: none;
}

.token::after {
  position: absolute;
  bottom: 15%;
}

.token.num-6,
.token.num-8 {
  color: red;
}

.token.num-2::after,
.token.num-12::after {
  content: '.';
}

.token.num-3::after,
.token.num-11::after {
  content: '..';
}

.token.num-4::after,
.token.num-10::after {
  content: '...';
}

.token.num-5::after,
.token.num-9::after {
  content: '....';
}

.token.num-6::after,
.token.num-8::after {
  content: '.....';
}

.token.selected {
  outline: 5px solid lime;
}

.harbour {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.harbour.any {
  background-image: url('./harbours/any.png');
}

.harbour.brick {
  background-image: url('./harbours/brick.png');
}

.harbour.grain {
  background-image: url('./harbours/grain.png');
}

.harbour.lumber {
  background-image: url('./harbours/lumber.png');
}

.harbour.ore {
  background-image: url('./harbours/ore.png');
}

.harbour.wool {
  background-image: url('./harbours/wool.png');
}
